<div class="col-lg-9">
  <div class="panel">

    <div class="panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><center>Editar Semana</center></h3>
      </div>
    </div>

    <div class="panel-body">

      <%= form_for(@week, html: {class: 'form-horizontal'}) do |f| %>

        <%= hidden_field_tag("project", @project) %>
        <%= hidden_field_tag("user_id", @user_id) %>

        <% if @week.errors.any? %>
          <div id="error_explanation">
            <div class="alert alert-dismissible alert-danger">
              <p><h5> <%= "Existe(m) #{pluralize(@week.errors.count, 'erro(s)')} no formulário:" %></h5></p>
              <ul>
              <% @week.errors.full_messages.each do |message| %>
                <li><h6><%= message %></h6></li>
              <% end %>
              </ul>
            </div>
          </div>
          <br>
        <% end %>

        <fieldset>

          <div class="form-group">
            <label class="col-lg-2 control-label">Horas esperadas: </label>
            <div class="col-lg-2">
              <%= f.number_field :expected_hours, class: 'form-control', step: 'any' %>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-2 control-label" style="margin-right: 15px;">Horas realizadas: </label>
            <div class="col-lg-2 input-group bootstrap-timepicker timepicker">
              <%= hidden_field :hours_registry, :id, value: @hours_registry.id %>
              <%= text_field :hours_registry, :hours_performed, value: "#{seconds_to_time(@hours_registry.hours_performed)}", class: 'form-control timepicker1', readonly: true %>
              <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
            </div>
          </div>

          <div class="form-group">
            <div class="col-lg-8 col-lg-offset-2">
              <%= f.submit t('buttons.save'), class: "btn btn-default" %> |
              <%= link_to t('buttons.back'), sprint_path(@week.sprint, project: @project, user: @user_id), class: "btn btn-default" %>
            </div>
          </div>

        </fieldset>
      <% end %>

    </div>
  </div>
</div>

<script>
  $('.timepicker1').timepicker({
    showMeridian: false,
    minuteStep: 1,
    showSeconds: true,
  });
</script>