<div class="col-lg-9">
  <div class="panel">

    <div class="panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><center>Listagem dos Relatórios</center></h3>
      </div>
    </div>

    <div class="panel-body">

      <ul class="breadcrumb">
        <div class="row">

          <div class="col-lg-5 col-sm-5 col-xs-5">
            <li><%= link_to "Relatórios", reports_path %></li>
            <li class="active">Relatórios semanais</li>
          </div>

        </div>
      </ul>

      <br>

      <div class="row">
        <div class="col-lg-8 col-sm-6 col-xs-6">
          <span class="title">Relatório para o projeto:</span>
        </div>

        <div class="col-lg-4 col-sm-6 col-xs-6">
          <div class="select-user">
            <%= select(:project, "id",
                       Project.all.order(:description).collect {|p| [ p.description, p.id ] },
                       {selected: "#{params[:project].present? ? params[:project] : ''}", include_blank: "-- Nome do projeto --"},
                       {class: 'form-control'}) %>
          </div>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-lg-8 col-sm-6 col-xs-6">
          <span class="title">Relatório para a sprint:</span>
        </div>

        <% if params[:project].present? %>

          <% project = Project.find(params[:project]) %>

          <div class="col-lg-4 col-sm-6 col-xs-6">
            <div class="select-user">
              <%= select(:sprint, "id",
                         project.sprints.order(:description).collect {|s| [ s.description, s.id ] },
                         {selected: "#{params[:sprint].present? ? params[:sprint] : ''}", include_blank: "-- Nome da sprint --"},
                         {class: 'form-control'}) %>
            </div>
          </div>

        <% else %>

          <div class="col-lg-4 col-sm-6 col-xs-6">
            <div class="select-user">
              <%= select(:sprint, "id", "",
                         {include_blank: "-- Nome da sprint --"},
                         {class: 'form-control', disabled: true}) %>
            </div>
          </div>

        <% end %>

      </div>

      <br>

      <button id="buscar" class="btn btn-success pull-right" onclick="buscarRelatorio()">Buscar</button>

      <br><br>

      <% if params[:project].present? && params[:sprint].present? %>
        <div class="chart">
          <div id="chart"></div>
          <p style="font-size: 8pt;text-align: justify;">
            * Integrantes da equipe:

            <% last_u = Project.find(params[:project]).team.users
                       .joins(:user_profile).order("user_profiles.name")
                       .last %>

            <% Project.find(params[:project]).team.users.joins(:user_profile)
               .order("user_profiles.name").each do |u| %>

              <% unless u == last_u %>
                <%= u.user_profile.name %>,
              <% else %>
                <%= u.user_profile.name %>.
              <% end %>

            <% end %>
         </p>
        </div>

        <p>Observações extras:</p>
        <%= text_area :report, "observation", rows: 5 , style: "width: 100%; max-width: 100%;", class: 'form-control', onfocusout: 'setObservation(this)' %>

        <br>

        <%= form_tag reports_weeks_reports_relative_dedication_path, method: :get, style: 'display: inline-block' do %>
          <%= hidden_field_tag :format, :pdf %>
          <%= hidden_field_tag 'observation' %>
          <%= hidden_field_tag 'project', params[:project] %>
          <%= hidden_field_tag 'sprint', params[:sprint] %>

          <%= submit_tag "Download PDF", id: 'download_pdf', class: 'btn btn-info', target: '_blank' %> |
        <% end %>

      <% else %>
        <div class="chart">
          <p>Primeiro indique os valores para projeto e sprint!</p>
          <br>
        </div>
      <% end %>

      <%= link_to t('buttons.back'), reports_path, class: "btn btn-success" %>

    </div><!-- /.panel-body -->

  </div>
</div>

<script>

  function buscarRelatorio() {
    var project_id = $("#project_id")[0];
    var sprint_id = $("#sprint_id")[0];

    if (!project_id.value == ""){

      project_id.removeAttribute("style");

      if (!sprint_id.value == "") {

        sprint_id.removeAttribute("style");
        var url = "/reports/weeks_reports/?project=" + project_id.value + "&sprint=" + sprint_id.value;
        window.location.replace(url);

      } else {
        sprint_id.setAttribute("style", "box-shadow: 0 0 20px red");
      }
    } else {
      project_id.setAttribute("style", "box-shadow: 0 0 20px red");

      if (sprint_id.value == "") {
        sprint_id.setAttribute("style", "box-shadow: 0 0 20px red");
      }
    }
  }

  function setObservation(element) {
    var input = $(element)[0];
    $('#observation')[0].value = input.value;
  }

  $(function(){
    $('#project_id').bind('change', function () {
      var sprint_id = $("#sprint_id")[0];
      sprint_id.setAttribute("disabled", "disabled");
      var project_id = $("#project_id")[0];
      var url = "/reports/weeks_reports/?project=" + project_id.value;
      window.location.replace(url);
    });
  });

  window.onload = function() {

    <% hr_users = [] %>
    <% project = Project.find(params[:project]) if params[:project].present? %>
    <% sprint = Sprint.find(params[:sprint]) if params[:sprint].present? %>

    <% if project.present? && sprint.present? %>


      zingchart.render({
        id: "chart",
        data: {
          "type": "bar",
          "title": {
            "text": "Dedicação Relativa"
          },
          "legend": {
            "layout":"1x", //row x column
            "position": "50% 10%",
            "padding": "10%",
            "adjust-layout": "true"
          },
          "plotarea": {
            "margin-top": "10%",
            "margin-bottom": "25%"
          },
          "plot": {
            "value-box": {
              "text":"%v%",
              "angle": -90,
              "padding-bottom": "5px"
            }
          },
          "scale-x": {
            "labels": <%= raw (project.team.users.includes(:user_profile).order("user_profiles.name").collect { |u| u.user_profile.name }) %>,
            "item": {
              "font-size": "10pt",
              "max-chars": 15,
              "angle": -45
            }
          },
          "scale-y": {
            "values": "0:100:25",
            "format":"%v%"
          },
          "series": [
            <% w_count = 1 %>

            <% sprint.weeks.each do |w| %>

              <% values = [] %>

              <% w.hours_registries.joins(user: [:user_profile])
                .order('user_profiles.name')
                .where(project_id: project.id).each do |hr| %>

                <% values << ((hr.hours_performed * 100) / 54000).round(1) %>

              <% end %>

              {
                "values": <%= values %>,
                "text": "Semana <%= w_count %>"
              },

              <% w_count += 1 %>
            <% end %>
          ]
        }
      });

    <% end %>
  };

</script>