<%= wicked_pdf_image_tag 'logo_imobilis.png', style: 'float: right; height: 80px;' %>
<h1>Relatório de Dedicação <%= @sprint.semester %></h1>
<b>Desenvolvido por:</b> Lorena Ferreira <br>
<b>Data:</b> <%= l(Time.zone.today) %> <br>


<div id="chart" style="width: 1000px"></div>
<p style="font-size: 8pt;text-align: justify;">
  * Integrantes da equipe:

  <% last_u = @project.team.users.joins(:user_profile)
              .order("user_profiles.name").last %>

  <% @project.team.users.joins(:user_profile).order("user_profiles.name")
     .each do |u| %>

    <% unless u == last_u %>
      <%= u.user_profile.name %>,
    <% else %>
      <%= u.user_profile.name %>.
    <% end %>

  <% end %>
</p>

<p style="font-size: 8pt;text-align: justify;">
  OBS.: <%= @observation %>
</p>


<script>
  window.onload = function() {

    zingchart.render({
      id: "chart",
      data: {
        "type": "bar",
        "title": {
          "text": "Dedicação Relativa"
        },
        "legend": {
          "layout":"1x", //row x column
          "position": "50% 10%",
          "padding": "10%",
          "adjust-layout": "true"
        },
        "plotarea": {
          "margin-top": "10%",
          "margin-bottom": "25%"
        },
        "plot": {
          "value-box": {
            "text":"%v%",
            "angle": -90,
            "padding-bottom": "5px"
          }
        },
        "scale-x": {
          "labels": <%= raw (@project.team.users.includes(:user_profile).order("user_profiles.name").collect { |u| u.user_profile.name }) %>,
          "item": {
            "font-size": "10pt",
            "max-chars": 15,
            "angle": -45
          }
        },
        "scale-y": {
          "values": "0:250:50",
          "format":"%v%"
        },
        "series": [
          <% w_count = 1 %>

          <% @sprint.weeks.each do |w| %>

            <% values = [] %>

            <% w.hours_registries.joins(user: [:user_profile])
              .order('user_profiles.name')
              .where(project_id: @project.id).each do |hr| %>

              <% values << ((hr.hours_performed * 100) / (w.expected_hours.to_f * 3600)).round(1) %>

            <% end %>

            {
              "values": <%= values %>,
              "text": "Semana <%= w_count %>"
            },

            <% w_count += 1 %>
          <% end %>
        ]
      }
    });
  };
</script>