<%= wicked_pdf_image_tag 'logo_imobilis.png', style: 'float: right; height: 80px;' %>
<h1>Relatório de Dedicação <%= @sprint.semester %></h1>
<b>Desenvolvido por:</b> Lorena Souza Costa <br>
<b>Data:</b> <%= l(Time.zone.today) %> <br>


<div id="chart" style="width: 1000px"></div>

<p style="font-size: 8pt;text-align: justify;">
  * Integrantes da equipe:

  <% last_u = @project.team.users.joins(:user_profile)
              .order("user_profiles.name").last %>

  <% @project.team.users.joins(:user_profile).order("user_profiles.name")
     .each do |u| %>

    <% unless u == last_u %>
      <%= u.user_profile.name %>,
    <% else %>
      <%= u.user_profile.name %>.
    <% end %>

  <% end %>
</p>

<p style="font-size: 8pt;text-align: justify;">
  OBS.: <%= @observation %>
</p>

<%= render partial: 'reports/shared/zingchart_to_relative_dedication' %>
