<div class="col-lg-9">
  <div class="panel">

    <div class="panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><center>Gráfico dos Progressos</center></h3>
      </div>
    </div>

    <div class="panel-body">

      <ul class="breadcrumb">
        <div class="row">

          <div class="col-lg-6 col-sm-6">
            <li><%= link_to "Projeto", project_path(@project) %></li>
            <li><%= link_to "Progressos", progresses_path(project: @project) %></li>
            <li class="active">Gráfico de C&A</li>
          </div>

          <div class="col-lg-6 col-sm-6">

            <div class="progress progress-striped active" style="margin-bottom: 0" data-toggle="tooltip" data-placement="bottom" title="Completude do projeto">
              <div class="progress-bar" style="width: <%= @project.progresses.last.completeness %>%">
                <%= "#{@project.progresses.last.completeness}%" %>
              </div>
            </div>

          </div>

        </div>
      </ul>

      <br>

      <div class="chart">
        <div id="chart"></div>

        <%#= line_chart [
          {name: "Completude",
           data: @project.progresses
                 .order(:id).map { |p| [[p.sprint.description + " (#{p.sprint.semester})"], p.completeness] }
          },
          {name: "Avanço",
           data: @project.progresses
                 .order(:id).map { |p| [[p.sprint.description + " (#{p.sprint.semester})"], p.advance] }
          }
          ], title: "#{@project.description}", xtitle: 'Sprints', ytitle: 'Completude/Avanço (%)', download: true %>

      </div>

      <br>

      <%= link_to "Download PDF", progress_report_pdf_path(project: @project, format: 'pdf'), class: 'btn btn-info', target: '_blank' %> |
      <%= link_to t('buttons.back'), progresses_path(project: @project), class: "btn btn-success" %>


    </div>
  </div>
</div>

<script src="https://cdn.zingchart.com/zingchart.min.js"></script>

<script>
  window.onload = function() {
    zingchart.render({
      id: "chart",
      data: {
        "type": "line",
        "title": {
          "text": "Gráfico de Avanço e Completude"
        },
        "legend": {
          "layout":"1x2", //row x column
          "y": "10%",
          "x": "33%",
          "padding": "10%"
        },
        "plotarea": {
          "margin-top": "24%"
        },
        "plot": {
          "value-box": {
            "text": "%node-value"
          }
        },
        "series": [
          {
            "values": <%= raw @project.progresses.order(:id).map { |p| [p.sprint.description + " (#{p.sprint.semester})", p.completeness.to_f] } %>,
            "text": "Completude"
          },
          {
            "values": <%= raw @project.progresses.order(:id).map { |p| [p.sprint.description + " (#{p.sprint.semester})", p.advance.to_f] } %>,
            "text": "Avanço"
          }
        ]
      }
    });
  };
</script>

<!-- <script>
  jQuery(document).ready(function($) {
    var canvas = $('canvas')[0];
    var h = $('input#image')[0];
    h.value = canvas.toDataURL('image/jpg');
    // var a = $("a[target='_blank'")[0];
    // a.href += '?image=' + canvas.toDataURL('image/png');
  });
</script> -->