<div class="col-lg-9">
  <div class="panel">

    <div class="panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><center>Visualização do Progresso</center></h3>
      </div>
    </div>

    <div class="panel-body">

      <ul class="breadcrumb">
        <div class="row">

          <div class="col-lg-6 col-sm-6 col-xs-6">
            <li><%= link_to "Projeto", project_path(@project) %></li>
            <li class="active">Progressos</li>
          </div>

          <div class="col-lg-6 col-sm-6 col-xs-6">

            <div class="progress progress-striped active" style="margin-bottom: 0" data-toggle="tooltip" data-placement="bottom" title="Completude do projeto">
              <div class="progress-bar"
                   style="width: <%= @project.progresses.present? ?
                                  "#{@project.progresses.last.completeness}%" :
                                  '0%' %>
">
                <%= @project.progresses.present? ?
                   "#{@project.progresses.last.completeness}%" :
                   '0%' %>
              </div>
            </div>

          </div>

        </div>
      </ul>

      <br>

      <table class="table table-striped table-hover">

        <thead>
          <tr>

            <th>#</th>

            <th>Completude (%)</th>

            <th>Avanço (%)</th>

            <th>Sprint</th>

            <% if current_user_total? %>
              <th></th>
            <% end %>

          </tr>
        </thead>

        <tbody>

          <% i = [] %>
          <% (1..@project.progresses.count).each do |index| %>
            <% i << index %>
          <% end %>

          <% @project.progresses.order(:id).each do |progress| %>
            <tr>

              <td>
                <%= i.first %>
                <% i.delete(i.first) %>
              </td>

              <td align="center">
                <%= progress.completeness %>
              </td>

              <td align="center">
                <%= progress.advance %>
              </td>

              <td align="center">
                <%= "#{progress.sprint.description} (#{progress.sprint.semester})" %>
              </td>

              <% if can? :destroy, Progress %>
                <td width="100">
                  <%= link_to t('buttons.destroy'), progress_path(progress), method: :delete, data: { confirm: t('messages.confirm') } %>
                </td>
              <% end %>

            </tr>
          <% end %>
        </tbody>

      </table>

      <br><br>

      <% if can? :create, Progress %>
        <%= link_to t('buttons.new'), new_progress_path(project: @project), class: 'btn btn-default' %> |
      <% end %>

      <%= link_to t('buttons.back'), project_path(@project), class: "btn btn-default" %>

    </div>
  </div>
</div>