<div class="col-lg-9">
  <div class="panel">

    <div class="panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><center>Nova Completude</center></h3>
      </div>
    </div>


    <div class="panel-body">

      <% unless @completeness.blank? %>
        <%= form_for(@progress, html: {class: 'form-horizontal'}) do |f| %>

          <% if @progress.errors.any? %>
            <div id="error_explanation">
              <div class="alert alert-dismissible alert-danger">
                <p><h5> <%= "Existe(m) #{pluralize(@progress.errors.count, 'erro(s)')} no formulário:" %></h5></p>
                <ul>
                <% @progress.errors.full_messages.each do |message| %>
                  <li><h6><%= message %></h6></li>
                <% end %>
                </ul>
              </div>
            </div>
            <br>
          <% end %>

          <fieldset>

            <%= f.hidden_field :project_id, value: @project.id %>

            <div class="form-group">
              <label class="col-lg-3 control-label">Completude: </label>
              <div class="col-lg-2" style="margin-top: 9px">
                <%= f.hidden_field :completeness, value: @completeness %>
                <%= @completeness %> %
              </div>
            </div>

            <% sprint_ids = [] %>
            <% @project.progresses.each do |p| %>
              <% sprint_ids << p.sprint_id %>
            <% end %>

            <% sprint_ids = @project.sprints.ids - sprint_ids %>

            <div class="form-group">
              <label class="col-lg-3 control-label">Sprint: </label>
              <% if sprint_ids.blank? %>
                <div class="col-lg-4" style="margin-top: 9px;">
                  Nenhuma Sprint disponível
                </div>
              <% else %>
                <div class="col-lg-3">
                  <%= f.select(:sprint_id,
                          @project.sprints.where(id: sprint_ids).order(semester: :desc).collect {|s| [ "#{s.description} (#{s.semester})", s.id ] },
                          {selected: @project.sprints.order(semester: :desc).first},
                          {class: "form-control"}) %>
                </div>
              <% end %>
            </div>

            <br>

            <div class="form-group">
              <div class="col-lg-8">
                <% unless sprint_ids.blank? %>
                  <%= f.submit t('buttons.save'), class: "btn btn-default" %> |
                <% end %>
                <%= link_to t('buttons.back'), progresses_path(project: @project), class: "btn btn-default" %>
              </div>
            </div>

          </fieldset>
        <% end %>
      <% else %>
        Macro atividade não presente!
        <br><br>
        <%= link_to t('buttons.back'), progresses_path(project: @project), class: "btn btn-default" %>
      <% end %>

    </div>
  </div>
</div>