<div class="col-lg-9">
  <div class="panel">

    <div class="panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><center>Listagem dos Relatórios</center></h3>
      </div>
    </div>

    <div class="panel-body">

      <ul class="breadcrumb">
        <div class="row">

          <div class="col-lg-5 col-sm-5  col-xs-5">
            <li><%= link_to "Relatórios", reports_path %></li>
            <li class="active">Relatórios das Sprints</li>
          </div>

        </div>
      </ul>

      <br>

      <div class="row">
        <div class="col-lg-8 col-sm-6 col-xs-6">
          <span class="title">Tipo de relatório:</span>
        </div>

        <div class="col-lg-4 col-sm-6 col-xs-6">
          <div class="select-user">
            <%= select(:report, "kind",
                       [['Dedicação relativa', 1],
                        ['Lista de atividades', 2],
                        ['Avanço e completude', 3],
                        ['Acompanhamento por equipe', 4],
                        ['Produtividade relativa', 5],
                        ['Velocidade relativa', 6]],
                       {selected: "#{params[:report_kind].present? ? params[:report_kind] : ''}"},
                       {class: 'form-control'}) %>
          </div>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-lg-8 col-sm-6 col-xs-6">
          <span class="title">Relatório para a sprint:</span>
        </div>

        <% if ((!params[:report_kind].present?) ||
                  (['1', '2', '3', '4', '5', '6'].include? params[:report_kind])) %>

          <div class="col-lg-4 col-sm-6 col-xs-6">
            <div class="select-user">
              <%= select(:sprint, "id",
                         Sprint.all.order(:description).collect {|s| [ "#{s.description} (#{s.semester})", s.id ] },
                         {selected: "#{params[:sprint].present? ? params[:sprint] : ''}", include_blank: "-- Nome da sprint --"},
                         {class: 'form-control'}) %>
            </div>
          </div>

        <% else %>

          <div class="col-lg-4 col-sm-6 col-xs-6">
            <div class="select-user">
              <%= select(:sprint, "id", "",
                         {include_blank: "-- Nome da sprint --"},
                         {class: 'form-control', disabled: true}) %>
            </div>
          </div>

        <% end %>

      </div>

      <br>

      <% if ((!params[:report_kind].present?) ||
             (['1', '2', '3', '4', '5', '6'].include? params[:report_kind])) %>
        <button id="buscar" class="btn btn-default pull-right" onclick="buscarRelatorio()">Buscar</button>
      <% else %>
        <button class="btn btn-default pull-right" disabled="disabled">Buscar</button>
      <% end %>

      <br><br><br>

      <!-- .chart -->
      <% if ((params[:sprint].present?) ||
             (params[:report_kind].present? && params[:sprint].present?)) %>

        <% if params[:report_kind] == '1' %>
          <%= render partial: 'reports/sprints_reports/shared/chart_to_relative_dedication' %>
        <% elsif params[:report_kind] == '2' %>
          <%= render partial: 'reports/sprints_reports/shared/chart_to_activities_list' %>
        <% elsif params[:report_kind] == '3' %>
          <%= render partial: 'reports/sprints_reports/shared/chart_to_advance_and_completeness' %>
        <% elsif params[:report_kind] == '4' %>
          <%= render partial: 'reports/sprints_reports/shared/chart_to_team_monitoring' %>
        <% elsif params[:report_kind] == '5' %>
          <%= render partial: 'reports/sprints_reports/shared/chart_to_relative_productivity' %>
        <% elsif params[:report_kind] == '6' %>
          <%= render partial: 'reports/sprints_reports/shared/chart_to_relative_velocity' %>
        <% end %>

      <% else %>

        <div class="chart">
          <p>Primeiro indique as informações para a construção do relatório!</p>
          <br>
        </div>

      <% end %>
      <!-- /.chart -->

      <%= link_to t('buttons.back'), reports_path, class: "btn btn-default" %>

    </div><!-- /.panel-body -->

  </div>
</div>

<script>

  function buscarRelatorio() {
    var sprint_id = $("#sprint_id")[0];
    var report_kind = $("#report_kind")[0];

    if (!sprint_id.value == "") {

      sprint_id.removeAttribute("style");

      if ((report_kind.value == '1') || (report_kind.value == '2') ||
          (report_kind.value == '3') || (report_kind.value == '4') ||
          (report_kind.value == '5') || (report_kind.value == '6')) {

        var url = "/reports/sprints_reports/?report_kind=" + report_kind.value + "&sprint=" + sprint_id.value;
        window.location.replace(url);

      }

    } else {
      sprint_id.setAttribute("style", "box-shadow: 0 0 20px red");
    }
  }

  function setObservation(element) {
    var input = $(element)[0];
    $('#observation')[0].value = input.value;
  }

</script>

<% if params[:report_kind] == '1' %>
  <%= render partial: 'reports/sprints_reports/shared/zingchart_to_relative_dedication' %>
<% elsif params[:report_kind] == '2' %>
  <%= render partial: 'reports/sprints_reports/shared/zingchart_to_activities_list' %>
<% elsif params[:report_kind] == '3' %>
  <%= render partial: 'reports/sprints_reports/shared/zingchart_to_advance_and_completeness' %>
<% elsif params[:report_kind] == '4' %>
  <%= render partial: 'reports/sprints_reports/shared/zingchart_to_team_monitoring' %>
<% elsif params[:report_kind] == '5' %>
  <%= render partial: 'reports/sprints_reports/shared/zingchart_to_relative_productivity' %>
<% elsif params[:report_kind] == '6' %>
  <%= render partial: 'reports/sprints_reports/shared/zingchart_to_relative_velocity' %>
<% end %>