<div class="col-lg-9">
  <div class="panel">

    <div class="panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><center>Listagem dos Relatórios</center></h3>
      </div>
    </div>

    <div class="panel-body">

      <ul class="breadcrumb">
        <div class="row">

          <div class="col-lg-5 col-sm-5 col-xs-5">
            <li><%= link_to "Relatórios", reports_path %></li>
            <li class="active">Relatórios das Sprints</li>
          </div>

        </div>
      </ul>

      <br>

      <div class="row">
        <div class="col-lg-8 col-sm-6 col-xs-6">
          <span class="title">Tipo de relatório:</span>
        </div>

        <div class="col-lg-4 col-sm-6 col-xs-6">
          <div class="select-user">
            <%= select(:report, "kind",
                       [['Dedicação relativa', 1],
                        ['Lista de atividades', 2],
                        ['Avanço e completude', 3],
                        ['Acompanhamento por equipe', 4]],
                       {selected: "#{params[:report_kind].present? ? params[:report_kind] : ''}"},
                       {class: 'form-control'}) %>
          </div>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-lg-8 col-sm-6 col-xs-6">
          <span class="title">Relatório para o projeto:</span>
        </div>

        <% if (!params[:report_kind].present?) || (params[:report_kind] == '1') %>
          <div class="col-lg-4 col-sm-6 col-xs-6">
            <div class="select-user">
              <%= select(:project, "id",
                         Project.all.order(:description).collect {|p| [ p.description, p.id ] },
                         {selected: "#{params[:project].present? ? params[:project] : ''}", include_blank: "-- Nome do projeto --"},
                         {class: 'form-control'}) %>
            </div>
          </div>
        <% else %>
          <div class="col-lg-4 col-sm-6 col-xs-6">
            <div class="select-user">
              <%= select(:project, "id", "",
                         {include_blank: "-- Nome do projeto --"},
                         {class: 'form-control', disabled: true}) %>
            </div>
          </div>
        <% end %>
      </div>

      <br>

      <div class="row">
        <div class="col-lg-8 col-sm-6 col-xs-6">
          <span class="title">Relatório para a sprint:</span>
        </div>

        <% if (params[:report_kind] == '1' && params[:project].present?) %>

          <% project = Project.find(params[:project]) %>

          <div class="col-lg-4 col-sm-6 col-xs-6">
            <div class="select-user">
              <%= select(:sprint, "id",
                         project.sprints.order(:description).collect {|s| [ "#{s.description} (#{s.semester})", s.id ] },
                         {selected: "#{params[:sprint].present? ? params[:sprint] : ''}", include_blank: "-- Nome da sprint --"},
                         {class: 'form-control'}) %>
            </div>
          </div>

        <% elsif (params[:report_kind] == '2') %>

          <div class="col-lg-4 col-sm-6 col-xs-6">
            <div class="select-user">
              <%= select(:sprint, "id",
                         Sprint.all.order(:description).collect {|s| [ "#{s.description} (#{s.semester})", s.id ] },
                         {selected: "#{params[:sprint].present? ? params[:sprint] : ''}", include_blank: "-- Nome da sprint --"},
                         {class: 'form-control'}) %>
            </div>
          </div>

        <% else %>

          <div class="col-lg-4 col-sm-6 col-xs-6">
            <div class="select-user">
              <%= select(:sprint, "id", "",
                         {include_blank: "-- Nome da sprint --"},
                         {class: 'form-control', disabled: true}) %>
            </div>
          </div>

        <% end %>

      </div>

      <br>

      <% if (params[:report_kind] == '1' && params[:project].present?) ||
            (params[:report_kind] == '2') %>
        <button id="buscar" class="btn btn-success pull-right" onclick="buscarRelatorio()">Buscar</button>
      <% else %>
        <button class="btn btn-success pull-right" disabled="disabled">Buscar</button>
      <% end %>

      <br><br><br>

      <!-- .chart -->
      <% if (params[:report_kind].present? && params[:project].present? &&
             params[:sprint].present?) ||
            (params[:report_kind].present? && params[:sprint].present?) %>

        <% if params[:report_kind] == '1' %>
          <%= render partial: 'reports/sprints_reports/shared/chart_to_relative_dedication' %>
        <% elsif params[:report_kind] == '2' %>
          <%= render partial: 'reports/sprints_reports/shared/chart_to_activities_list' %>
        <% end %>

      <% else %>

        <div class="chart">
          <p>Primeiro indique as informações para a construção do relatório!</p>
          <br>
        </div>

      <% end %>
      <!-- / .chart -->

      <%= link_to t('buttons.back'), reports_path, class: "btn btn-success" %>

    </div><!-- /.panel-body -->

  </div>
</div>

<script>

  function buscarRelatorio() {
    var project_id = $("#project_id")[0];
    var sprint_id = $("#sprint_id")[0];
    var report_kind = $("#report_kind")[0];

    if ((!project_id.value == "") || (project_id.hasAttribute("disabled"))){

      project_id.removeAttribute("style");

      if (!sprint_id.value == "") {

        sprint_id.removeAttribute("style");

        if (report_kind.value == '1') {

          var url = "/reports/sprints_reports/?report_kind=" + report_kind.value + "&project=" + project_id.value + "&sprint=" + sprint_id.value;
          window.location.replace(url);

        } else if (report_kind.value == '2') {

          var url = "/reports/sprints_reports/?report_kind=" + report_kind.value + "&sprint=" + sprint_id.value;
          window.location.replace(url);

        }

      } else {
        sprint_id.setAttribute("style", "box-shadow: 0 0 20px red");
      }
    } else {
      project_id.setAttribute("style", "box-shadow: 0 0 20px red");

      if (sprint_id.value == "") {
        sprint_id.setAttribute("style", "box-shadow: 0 0 20px red");
      }
    }
  }

  function setObservation(element) {
    var input = $(element)[0];
    $('#observation')[0].value = input.value;
  }

  $(function(){
    $('#project_id').bind('change', function () {
      var sprint_id = $("#sprint_id")[0];
      sprint_id.setAttribute("disabled", "disabled");
      var project_id = $("#project_id")[0];
      var report_kind = $("#report_kind")[0];
      var url = "/reports/sprints_reports/?report_kind=" + report_kind.value +"&project=" + project_id.value;
      window.location.replace(url);
    });

    $('#report_kind').bind('change', function () {

      if ($("#report_kind")[0].value == '1') {
        var sprint_id = $("#sprint_id")[0];
        sprint_id.setAttribute("disabled", "disabled");
        var project_id = $("#project_id")[0];
        project_id.removeAttribute("disabled");
        project_id.setAttribute("disabled", "disabled");
        var button = $("#buscar")[0];
        if (!(button == undefined)){
          button.setAttribute("disabled", "disabled");
        }
        var url = "/reports/sprints_reports/?report_kind=" + report_kind.value;
        window.location.replace(url);

      } else if ($("#report_kind")[0].value == '2') {

        var sprint_id = $("#sprint_id")[0];
        sprint_id.setAttribute("disabled", "disabled");
        var project_id = $("#project_id")[0];
        project_id.setAttribute("disabled", "disabled");
        var button = $("#buscar")[0];
        if (!(button == undefined)){
          button.setAttribute("disabled", "disabled");
        }
        var url = "/reports/sprints_reports/?report_kind=" + report_kind.value;
        window.location.replace(url);
      }

    });
  });

</script>

<% if params[:report_kind] == '1' %>
  <%= render partial: 'reports/sprints_reports/shared/zingchart_to_relative_dedication' %>
<% elsif params[:report_kind] == '2' %>
  <%= render partial: 'reports/sprints_reports/shared/zingchart_to_activities_list' %>
<% end %>