<div class="col-lg-9">
  <div class="panel">

    <div class="panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><center>Lista de rótulos</center></h3>
      </div>
    </div>

    <div class="panel-body">
      <table class="table table-striped table-hover ">

        <thead>
          <tr>
            <th>Descrição</th>
            <th>Cor</th>
            <th colspan="2"></th>
          </tr>
        </thead>

        <tbody>
          <% @labels.each do |label| %>
            <tr>
              <td>
                <%= label.description %>
              </td>
              <td>
                <%#= label.color.blank? ? '-' : label.color.description %>
                <% if label.color.blank? %>
                  -
                <% else %>
                  <span class="color-description" style="background-color: <%= label.color.description %>"></span>
                  <%= label.color.description %>
                <% end %>
              </td>
              <td width="100" align="center">
                <%= link_to t('buttons.edit'), edit_label_path(label) %>
              </td>
              <td width="100" align="center">
                <%= link_to t('buttons.destroy'), label, method: :delete, data: { confirm: t('messages.confirm') } %>
              </td>
            </tr>
          <% end %>
        </tbody>

      </table>

      <center><%= paginate @labels %></center>

      <% if can? :create, Label %>
        <%= link_to t('buttons.new'), new_label_path, class: "btn btn-primary" %>
      <% end %>

    </div>
  </div>
</div>

