<div class="col-lg-9">
  <div class="panel">

    <div class="panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><center>Editar Cor</center></h3>
      </div>
    </div>


    <div class="panel-body">
      <%= form_for(@color, html: {class: 'form-horizontal'}) do |f| %>

        <% if @color.errors.any? %>
          <div id="error_explanation">
            <div class="alert alert-dismissible alert-danger">
              <h5><%= "Existe(m) #{pluralize(@color.errors.count, 'erro(s)')} no formulário:" %></h5>
            <ul>
            <% @color.errors.full_messages.each do |message| %>
                <li><h6><%= message %></h6></li>
            <% end %>
            </ul>
            </div>
          </div>
          <br>
        <% end %>

        <div class="panel-body">
          <fieldset>
            <div class="form-group">
              <label class="col-lg-2 control-label">Descrição: </label>
              <div class="col-lg-6">
                <div class="col-lg-6">
                  <%= f.text_field :description, class: 'form-control',
                  onchange: 'viewColor(this)' %>
                </div>
                <div class="col-lg-6">
                  <span id="view-color" class="label label-primary" style="background-color: <%= @color.description %>">
                    Visualização do Rótulo e Status
                  </span>
                </div>
              </div>
            </div>
          </fieldset>
        </div>

      <%= f.submit t('buttons.save'), class: "btn btn-primary" %> |
      <%= link_to t('buttons.back'), colors_path, class: "btn btn-success" %>

    </div>
  </div>

<% end %>

<script>
  $(document).ready(function(){
    $('#color_description').minicolors({theme: 'bootstrap'})
  });

  function viewColor(element) {
    var input = $(element)[0];
    var span = $('#view-color')[0];
    span.style = 'background-color: ' + input.value;
  }
</script>