<div class="col-lg-9">
  <div class="panel">

    <div class="panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><center>Criar atividade</center></h3>
      </div>
    </div>


    <div class="panel-body">

      <%= form_for(@activity, html: {class: 'form-horizontal'}) do |f| %>

        <% if @activity.errors.any? %>
          <div id="error_explanation">
            <div class="alert alert-dismissible alert-danger">
              <h5><%= "Existe(m) #{pluralize(@activity.errors.count, 'erro(s)')} no formulário:" %></h5>
            <ul>
            <% @activity.errors.full_messages.each do |message| %>
                <li><h6><%= message %></h6></li>
            <% end %>
            </ul>
            </div>
          </div>
          <br>
        <% end %>

        <div class="panel-body">

          <fieldset>

            <div class="form-group">
              <label class="col-lg-2 control-label">Descrição: </label>
              <div class="col-lg-8">
                <%= f.text_field :description, class: 'form-control', onfocusout: "checkIfValidated(this)" %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-lg-2 control-label">Pontos planejados: </label>
              <div class="col-lg-3">
                <%= f.number_field :pontos_cadastrados, value: 0, min: 0, step: '0.5', class: 'form-control' %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-lg-2 control-label">Status: </label>
              <div class="col-lg-6">
                <%= f.select(:status_id,
                        Status.where.not(description: 'Validado').order(:description).collect {|s| [ s.description, s.id ] },
                        {selected: Status.where(description: 'Não iniciada').first.id},
                        {class: "form-control"}) %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-lg-2 control-label">Rótulo: </label>
              <div class="col-lg-6">
                <%= f.select(:label_id,
                            Label.all.order(:description).collect {|l| [ l.description, l.id ] },
                            {},
                            {class: "form-control"}) %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-lg-2 control-label">Projeto: </label>
              <div class="col-lg-6">

                <%= f.hidden_field(:project_id, value: @project.id) %>
                <span style="display: block; margin-top: 9px;">
                  <%= @project.description %>
                </span>

              </div>
            </div>

            <div class="form-group">
              <label class="col-lg-2 control-label">Sprint: </label>
              <div class="col-lg-6">

                <% if @sprint.present? %>
                  <%= f.hidden_field(:sprint_id, value: @sprint.id) %>
                  <span style="display: block; margin-top: 9px;">
                    <%= @sprint.description %>
                  </span>
                <% else %>
                  <%= f.select(:sprint_id,
                          @project.sprints.order(:description).collect {|s| [ s.description, s.id ] },
                          {},
                          {class: "form-control"}) %>
                <% end %>

              </div>
            </div>

            <div class="form-group">
              <% if current_user_total? %>
                <label class="col-lg-2 control-label">Usuário: </label>
                <div class="col-lg-6">
                  <%= f.select(:user_id,
                          @project.team.users.joins(:user_profile)
                          .order('user_profiles.name').collect { |u| [ u.user_profile.name, u.id ] },
                          {},
                          {class: "form-control"}) %>
                </div>
              <% else %>
                <label class="col-lg-2 control-label">Usuário: </label>
                <div class="col-lg-6">

                  <%= f.hidden_field(:user_id, value: current_user.id) %>
                  <span style="display: block; margin-top: 9px;">
                    <%= current_user.user_profile.name %>
                  </span>

                </div>
              <% end %>
            </div>

          </fieldset>
        </div>

        <%= f.submit t('buttons.save'), class: "btn btn-primary" %> |
        <% if @sprint.present? %>
          <%= link_to t('buttons.back'), sprint_path(@sprint, project: @project), class: "btn btn-success" %>
        <% else %>
          <%= link_to t('buttons.back'), project_path(@project), class: "btn btn-success" %>
        <% end %>

      <% end %>

    </div>

  </div>
</div>
